.ext {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: rgb(255, 246, 233);
  border-radius: 20px;
  box-shadow: 0px 0px 5px lightsalmon;
  margin: 20px;
}

.lele {
  /* display: flex; */
  float: left;
  /* background-color: lightgreen; */
}

.rele {
  display: flex;
  text-align: center;
  padding-left: 20px;
  float: left;
  /* background-color: lightpink; */
  font-size: 128px;
  font-weight: bold;
}

.ltext {
  /* display: inline; */
  float: left;
  padding-bottom: 10px;
}

.rbtn {
  /* display: inline; */
  float: right;
  padding-bottom: 10px;
}
