.one-block {
    display: block;
    width: 70%;
    box-shadow: 0px 0px 6px lightsalmon;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
}
input {
    border: 1px solid lightcoral;
    background-color: rgb(255, 247, 237);
    width: 91%;
}
input:focus {
    border: 1px solid lightcoral;
    background-color: antiquewhite;
    border-radius: 0px;
}
.browse-btn {
    user-select: none;
    width: 9%;
    justify-content: center;
    text-align: center;
    background-color: antiquewhite;
    padding-top: 4px;
    padding-bottom: 4px;
}
.browse-btn:hover {
    background-color: lightsalmon;
}
.browse-btn:active {
    background-color: lightcoral;
}
.inline-input {
    display: flex;
    justify-content: flex-start;
    margin-top:5px;
    margin-bottom: 10px;
}
.btn {
    background-color: antiquewhite;
    text-align: center;
    width:10%;
    user-select: none;
}
select {
    background-color: antiquewhite;
    border: 1px solid lightcoral;
    width: 300px;
    height: 25px;
}