webview {
  width: 100%;
  height: 93%;
  display: flex;
  /* transition: ease 100ms; */
  /* opacity: 0; */
}
/* 顶端菜单栏 */
.menuBar {
  float: top;
  width: 100%;
  height: 7%;
  max-height: 35px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
/* 右上角3个按钮的一般样式 */
.menuCustomBtn {
  width: 7%;
  max-width: 80px;
  height: 100%;
  border: 0px;
  font-size: 20px;
  float: right;
  -webkit-app-region: no-drag;
}
/* 当鼠标浮动在3个按钮上时的样式 */
.menuCustomBtn:hover {
  background-color: lightpink;
}
/* 菜单栏隐藏的单选按钮样式 */
input[type="radio"] {
  opacity: 0;
  position: absolute;
  /* z-index: -1; */
  /* vertical-align: middle; */
}
/* 菜单栏各个小按钮label的样式 */
.mmenu {
  display: inline-flexbox;
  text-align: center;
  float: left;
  -webkit-app-region: no-drag;
}
/* 菜单栏各个小按钮显示文字的样式 */
.text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3vw;
  padding-right: 3vw;
  background-color: papayawhip;
  transition: ease 300ms;
}
/* 鼠标浮动在按钮上方时的样式 */
.text:hover {
  background-color: moccasin;
  transition: ease 300ms;
}
/* 选中时的样式 */
input:checked + .text {
  background-color: lightsalmon;
  transition: ease 300ms;
}
/* 右上角按钮label */
.mbtn {
  display: inline-flexbox;
  text-align: center;
  float: right;
  -webkit-app-region: no-drag;
}
/* 右上角按钮文本 */
.mybtn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: papayawhip;
  transition: ease 300ms;
}
.mybtn:hover {
  background-color: moccasin;
  transition: ease 300ms;
}
.mybtn:active {
  background-color: lightsalmon;
  transition: ease 300ms;
}
